= simple_form_for(@horse, html: { class: 'form-horizontal' }) do |f|

  = f.error_notification

  = f.input :name
  = f.input :nick
  = f.input :birth, as: :date
  = f.input :height
  = f.association :color, prompt: t('.pick_a_color')
  = f.association :gender, prompt: t('.pick_a_gender')
  = f.input :dentist
  = f.input :vet
  = f.input :blacksmith
  = f.input :osteopath
  = f.input :blanket_size
  = f.input :strap_size
  = f.input :bridle_size
  = f.input :blanket_size
  = f.input :horsebit_size
  = f.input :comment

  = f.button :submit


