<p id="notice"><%= notice %></p>

<h1>Listing Horses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Nick</th>
      <th>Birth</th>
      <th>Height</th>
      <th>Gender</th>
      <th>Color</th>
      <th>Dentist</th>
      <th>Vet</th>
      <th>Blacksmith</th>
      <th>Osteopath</th>
      <th>Blanket size</th>
      <th>Strap size</th>
      <th>Horsebit size</th>
      <th>Bridle size</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @horses.each do |horse| %>
      <tr>
        <td><%= horse.name %></td>
        <td><%= horse.nick %></td>
        <td><%= horse.birth %></td>
        <td><%= horse.height %></td>
        <td><%= horse.gender %></td>
        <td><%= horse.color_id %></td>
        <td><%= horse.dentist %></td>
        <td><%= horse.vet %></td>
        <td><%= horse.blacksmith %></td>
        <td><%= horse.osteopath %></td>
        <td><%= horse.blanket_size %></td>
        <td><%= horse.strap_size %></td>
        <td><%= horse.horsebit_size %></td>
        <td><%= horse.bridle_size %></td>
        <td><%= horse.comment %></td>
        <td><%= link_to 'Show', horse %></td>
        <td><%= link_to 'Edit', edit_horse_path(horse) %></td>
        <td><%= link_to 'Destroy', horse, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Horse', new_horse_path %>
