%h1= t('.your_horses')
%p= t('.you_have_horses', count: @horses.count)

%p
  = link_to new_horse_path do
    %i.fa.fa-plus
    = t('.add_new_horse')

- if @horses.count > 0
  - @horses.each do |horse|
    %ul.horses
      %li
        = link_to horse_activities_path(horse) do
          %h3= horse.name

        %p= "#{horse.gender.name}, #{horse.color.name.downcase}, #{t('.years_old', count: horse.age)}."
        %p= t('.has_activities', horse: horse.to_label, count: horse.activities.count)





