<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @horse.name %>
</p>

<p>
  <strong>Nick:</strong>
  <%= @horse.nick %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @horse.birth %>
</p>

<p>
  <strong>Height:</strong>
  <%= @horse.height %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @horse.gender %>
</p>

<p>
  <strong>Color:</strong>
  <%= @horse.color_id %>
</p>

<p>
  <strong>Dentist:</strong>
  <%= @horse.dentist %>
</p>

<p>
  <strong>Vet:</strong>
  <%= @horse.vet %>
</p>

<p>
  <strong>Blacksmith:</strong>
  <%= @horse.blacksmith %>
</p>

<p>
  <strong>Osteopath:</strong>
  <%= @horse.osteopath %>
</p>

<p>
  <strong>Blanket size:</strong>
  <%= @horse.blanket_size %>
</p>

<p>
  <strong>Strap size:</strong>
  <%= @horse.strap_size %>
</p>

<p>
  <strong>Horsebit size:</strong>
  <%= @horse.horsebit_size %>
</p>

<p>
  <strong>Bridle size:</strong>
  <%= @horse.bridle_size %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @horse.comment %>
</p>

<%= link_to 'Edit', edit_horse_path(@horse) %> |
<%= link_to 'Back', horses_path %>
