= simple_form_for(horse_activity_path(@horse, @activity), html: { class: 'form-horizontal' }) do |f|

  = f.error_notification

  = f.input :title
  = f.input :start_at
  = f.input :end_at
  = f.text_area :description

  = f.button :submit

