= simple_form_for([@horse, @activity], html: { class: 'form-horizontal' }) do |f|

  = f.error_notification

  = f.input :title
  = f.input :start_at,    as: :datetimepicker
  = f.input :end_at,      as: :datetimepicker
  = f.input :description, as: :richtext

  - @activity.image_ids.each do |iid|
    %input{ type: 'hidden', value: iid, name: 'activity[image_ids][]' }

  = f.button :submit

