= simple_form_for([@horse, @activity], html: { class: 'form-horizontal' }) do |f|

  = f.error_notification

  = f.input :title
  = f.input :start_at,    as: :datetimepicker
  = f.input :end_at,      as: :datetimepicker
  = f.input :description, as: :richtext

  = f.button :submit

