%h1= t('.title', horse: @horse.to_label)

%p
  = link_to(new_horse_activity_path(@horse), title: t('.add', horse: @horse.to_label)) do
    %i.fa.fa-plus
    = t('.add', horse: @horse.to_label)

- if @activities.empty?
  = t('.no_activities_yet')
= render partial: 'activities/activity', collection: @activities


