
%p
  %strong Horse:
  = @activity.horse_id

%p
  %strong User:
  = @activity.user_id

%p
  %strong Start at:
  = @activity.start_at

%p
  %strong End at:
  = @activity.end_at

%p
  %strong Title:
  = @activity.title

%p
  %strong Description:
  = @activity.description

= link_to 'Edit', edit_horse_activity_path(@horse, @activity)
|
= link_to 'Back', horse_activities_path(@horse)
