!!! 5

%html{ lang: I18n.locale }
  %head
    %title= @title
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    .container

      #session-links.pull-right
        - if current_user
          - if current_user.fb_image
            = image_tag current_user.fb_image, alt: current_user.name, title: current_user.name, id: 'fb_avatar'
          = link_to t('.sign_out'), destroy_user_session_path, method: :delete
          - if current_user.admin?
            = " - "
            = link_to t('.admin'), admin_users_path
        - else
          = link_to t('.sign_in'), new_user_session_path

      %h1#title= @title

      = yield

