!!! 5

%html{ lang: I18n.locale }
  %head
    %title= "#{@title}#{@subtitle && " - #{@subtitle}"}"

    - if @require_admin_assets
      = stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track' => true
    - else
      = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true

    = favicon_link_tag 'favicon.png'

    = csrf_meta_tags

  %body
    .container

      #session-links.pull-right
        - if current_user
          - if current_user.fb_image
            = image_tag current_user.fb_image, alt: current_user.name, title: current_user.name, class: 'fb_avatar'
          = link_to t('.sign_out'), destroy_user_session_path, method: :delete
          - if current_user.admin?
            = " - "
            = link_to t('.admin'), admin_users_path
        - else
          = link_to t('.sign_in'), new_user_session_path

        = link_to 'FR', { locale: 'fr' }
        = link_to 'EN', { locale: 'en' }

      %h1#title
        = link_to root_path do
          %span= @title

      = yield

    %footer.footer
      %ul
        %li EquiBook &copy;2015
        %li= link_to t('.privacy_policy'), privacy_policy_path
        %li= link_to t('.terms_of_service'), terms_of_service_path
        %li#twitter-follow
          %a.twitter-follow-button{ href: 'https://twitter.com/EquiBookCo', 'data-size' => 'small', 'data-show-screen-name' => 'false', 'data-show-count' => 'false' }

    - if @require_admin_assets
      = javascript_include_tag 'admin', 'data-turbolinks-track' => true
    - else
      = javascript_include_tag 'application', 'data-turbolinks-track' => true

    - # Make turbolinks compatible with the Twitter button
    %script{ src: '//platform.twitter.com/widgets.js' }

